<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ExtentReporter"/>
    </listeners>
    <test name="API tests">
        <classes>
            <class name="testcases.UsersDataDriventTest">
                <methods>
                    <include name="testAddNewUser"/>
                </methods>
            </class>
            <class name="testcases.UsersTest">
                <methods>
                    <include name="testPostNewUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>